@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* font-family: 'Roboto', sans-serif; */

html, head, body {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #0A0F0D;
    height: 100vh;
    width: 100vw;
    margin-top: 0;
}

.intro {
    padding-top: 2.5vh;
}

.intro h1 {
    display: inline-block;
    font-weight: 700;
    font-size: 7.5vh;
    background: linear-gradient(90deg, #EE4266, #3CBBB1);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.intro p {
    font-weight: 400;
    font-size: 2.5vh;
    color: #C4CBCA;
}